In [1]:
import pandas as pd

In [2]:
characters = pd.read_csv("./characters/characters.csv")
characters.set_index("characterID")

                                      name
characterID
1009220                    Captain America
1010740                     Winter Soldier
1009471                          Nick Fury
1009552                       S.H.I.E.L.D.
1009228                      Sharon Carter
...                                    ...
1011395      Talon (Fraternity of Raptors)
1011196                      Captain Flint
1009397                           Lava-Man
1011113                         Blue Blade
1011094                              Xavin

[1170 rows x 1 columns]

In [3]:
characters_stats = pd.read_csv("./characters/characters_stats.csv")
characters_stats

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292
610,Zoom,bad,50,10,100,28,72,28,288

In [4]:
characters_to_comics= pd.read_csv("./characters/charactersToComics.csv")
characters_to_comics

       comicID  characterID
0        16232      1009220
1        16232      1010740
2        16248      1009220
3        16248      1009471
4        16248      1009552
...        ...          ...
75252    45951      1009337
75253    45951      1011428
75254    45951      1011086
75255    45951      1009546
75256    45951      1009724

[75257 rows x 2 columns]

In [5]:
comics = pd.read_csv("./characters/comics.csv")
comics.set_index("comicID")

,title,issueNumber,description
comicID,,,
16232,Cap Transport (2005) #12,12.0,NaN
16248,Cap Transport (2005) #9,9.0,NaN
4990,Halo Preview (2006),0.0,NaN
21486,Ultimate X-Men (Spanish Language Edition) (200...,9.0,NaN
58634,A Year of Marvels: The Incredible (2016) #5,5.0,It’s Halloween in the Marvel U! What does that...
...,...,...,...
47542,Kick-Ass 3 (2013) #1 (Ferry Variant),1.0,Kick-Ass and Hit-Girl&rsquo;s blockbuster retu...
46766,X-Factor (2005) #257,257.0,<ul><li>The end begins here.</li><li>THE END O...
45951,Cable and X-Force (2012) #9,9.0,Guest starring the Uncanny Avengers!\n- Hope g...
46750,Wolverine: Sabretooth Reborn (Hardcover),0.0,Superstars Jeph Loeb and Simone Bianchi's tita...
46741,Wolverine Comic Reader (2013) #1,1.0,Collecting WOLVERINE: FIRST CLASS #1 and mater...

In [6]:
marvel_characters_info = pd.read_csv("./characters/marvel_characters_info.csv")
marvel_characters_info.set_index("ID")

,Name,Alignment,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
ID,,,,,,,,,,
0,A-Bomb,good,Male,yellow,Human,No Hair,Marvel Comics,-,203.0,441.0
1,Abe Sapien,good,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,191.0,65.0
2,Abin Sur,good,Male,blue,Ungaran,No Hair,DC Comics,red,185.0,90.0
3,Abomination,bad,Male,green,Human / Radiation,No Hair,Marvel Comics,-,203.0,441.0
4,Abraxas,bad,Male,blue,Cosmic Entity,Black,Marvel Comics,-,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...
729,Yellowjacket II,good,Female,blue,Human,Strawberry Blond,Marvel Comics,-,165.0,52.0
730,Ymir,good,Male,white,Frost Giant,No Hair,Marvel Comics,white,304.8,-99.0
731,Yoda,good,Male,brown,Yoda's species,White,George Lucas,green,66.0,17.0
732,Zatanna,good,Female,blue,Human,Black,DC Comics,-,170.0,57.0
733,Zoom,bad,Male,red,-,Brown,DC Comics,-,185.0,81.0

In [23]:
dc_characters_info = pd.read_csv("./characters/marvel_dc_characters.csv", index_col = 0, encoding = "iso-8859-1")
dc_characters_info

,Name,Identity,Alignment,EyeColor,HairColor,Gender,Status,Appearances,FirstAppearance,Year,Universe
ID,,,,,,,,,,,
100001,Claude Potier (Earth-616),Secret,Neutral,Hazel,Brown,Male,Living,2.0,àå÷-00,2000.0,DC
100002,Elektra Natchios (Earth-616),Secret,Neutral,Blue,Black,Female,Living,280.0,éðå-81,1981.0,Marvel
100003,Thomas Williams (Earth-616),Secret,Neutral,Black,NaN,Male,Living,1.0,àåâ-02,2002.0,DC
100004,Mogul (Earth-616),NaN,NaN,NaN,Bald,NaN,Living,NaN,îàé-70,1970.0,DC
100005,Denise Havens (Earth-616),Secret,Good,Brown,Black,Female,Living,4.0,éðå-95,1995.0,DC
...,...,...,...,...,...,...,...,...,...,...,...
139644,Ivan Petrovsky (Earth-616),Public,Bad,NaN,Black,Male,Living,2.0,ôáø-61,1961.0,Marvel
139645,Tom\u00e1s Ram\u00edrez (Earth-616),NaN,Bad,Brown,Bald,Male,Living,9.0,ñôè-82,1982.0,DC
139646,Benjamin Krullen (New Earth),Secret,Bad,NaN,NaN,Male,Deceased,29.0,"1988, July",1988.0,DC
139647,Mercenary (Human Fly Foe) (Earth-616),Secret,Bad,NaN,NaN,Male,Living,1.0,ñôè-77,1977.0,Marvel
139648,Brute Benhurst (Earth-616),Secret,Bad,NaN,Black,Male,Living,3.0,àôø-89,1989.0,Marvel

In [8]:
superheroes_power_matrix = pd.read_csv("./characters/superheroes_power_matrix.csv")
superheroes_power_matrix

,Name,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Yellowjacket II,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
663,Ymir,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
664,Yoda,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
665,Zatanna,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
666,Zoom,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Połączenie tabeli characters_to_comics z characters i comics

In [45]:
marvel = characters_to_comics.merge(characters, on="characterID", how='left')
marvel = marvel.merge(comics, on="comicID", how='left')
marvel
#marvel.to_csv("./characters/marvel.csv")
#pd.read_csv("./characters/marvel.csv")

,comicID,characterID,name,title,issueNumber,description
0,16232,1009220,Captain America,Cap Transport (2005) #12,12.0,NaN
1,16232,1010740,Winter Soldier,Cap Transport (2005) #12,12.0,NaN
2,16248,1009220,Captain America,Cap Transport (2005) #9,9.0,NaN
3,16248,1009471,Nick Fury,Cap Transport (2005) #9,9.0,NaN
4,16248,1009552,S.H.I.E.L.D.,Cap Transport (2005) #9,9.0,NaN
...,...,...,...,...,...,...
82180,45951,1011086,Nemesis,Cable and X-Force (2012) #9,9.0,Guest starring the Uncanny Avengers!\n- Hope g...
82181,45951,1009546,Rogue,Cable and X-Force (2012) #9,9.0,Guest starring the Uncanny Avengers!\n- Hope g...
82182,45951,1009546,Rogue,Cable and X-Force (2012) #9,9.0,Guest starring the Uncanny Avengers!\n- Hope g...
82183,45951,1009724,X-Force,Cable and X-Force (2012) #9,9.0,Guest starring the Uncanny Avengers!\n- Hope g...
82184,45951,1009724,X-Force,Cable and X-Force (2012) #9,9.0,Guest starring the Uncanny Avengers!\n- Hope g...

# Połączenie tabeli dc z marvel

In [27]:
marvel_characters_info = pd.read_csv("./characters/marvel_characters_info.csv", index_col = 0)
dc_characters_info = pd.read_csv("./characters/marvel_dc_characters.csv", index_col = 0, encoding = "iso-8859-1")
characters_stats = pd.read_csv("./characters/characters_stats.csv")

In [90]:
characters_info = pd.concat([marvel_characters_info, dc_characters_info])

print(len(characters_info["Name"].unique()))
print(len(characters_info["Name"]))

23987
40382

## Pozbycie się duplikatów

In [91]:
characters_info = characters_info.drop_duplicates(subset=['Name'])

## Skasowanie niepotrzebnych danych

In [92]:
characters_info.drop(["Race", "Publisher", "SkinColor", "Height", "Weight", "Identity", "Status", "Appearances", "FirstAppearance", "Year", "Universe"], 
                     axis = 1, inplace=True)

In [93]:
characters_info

                                 Name Alignment  Gender EyeColor HairColor
ID
0                              A-Bomb      good    Male   yellow   No Hair
1                          Abe Sapien      good    Male     blue   No Hair
2                            Abin Sur      good    Male     blue   No Hair
3                         Abomination       bad    Male    green   No Hair
4                             Abraxas       bad    Male     blue     Black
...                               ...       ...     ...      ...       ...
139589     Stanley Merkel (New Earth)      Good    Male      NaN     Black
139594  Elizabeth Clawman (New Earth)      Good  Female    Brown     Black
139634        Tiger Shark (New Earth)       Bad    Male      NaN       NaN
139636         Sonny Sumo (New Earth)      Good    Male      NaN       NaN
139646   Benjamin Krullen (New Earth)       Bad    Male      NaN       NaN

[23987 rows x 5 columns]

# Połączenie dc i marvela z statystykami

In [95]:
characters_info_status = pd.concat([characters_stats, characters_info])

In [96]:
characters_info_status = characters_info_status.drop_duplicates(subset=['Name'])

In [97]:
characters_info_status

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total,Gender,EyeColor,HairColor
0,3-D Man,good,50.0,31.0,43.0,32.0,25.0,52.0,233.0,NaN,NaN,NaN
1,A-Bomb,good,38.0,100.0,17.0,80.0,17.0,64.0,316.0,NaN,NaN,NaN
2,Abe Sapien,good,88.0,14.0,35.0,42.0,35.0,85.0,299.0,NaN,NaN,NaN
3,Abin Sur,good,50.0,90.0,53.0,64.0,84.0,65.0,406.0,NaN,NaN,NaN
4,Abomination,bad,63.0,80.0,53.0,90.0,55.0,95.0,436.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
139589,Stanley Merkel (New Earth),Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,NaN,Black
139594,Elizabeth Clawman (New Earth),Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,Brown,Black
139634,Tiger Shark (New Earth),Bad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,NaN,NaN
139636,Sonny Sumo (New Earth),Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,NaN,NaN
139646,Benjamin Krullen (New Earth),Bad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,NaN,NaN

In [98]:
characters_info_status.isna().sum()

Name                0
Alignment        3416
Intelligence    23406
Strength        23406
Speed           23406
Durability      23406
Power           23406
Combat          23406
Total           23406
Gender           1589
EyeColor        14005
HairColor        7148
dtype: int64

In [99]:
characters_info_status = characters_info_status.dropna(subset=["Alignment", "Intelligence", "Strength", "Durability", "Power", "Combat"])
characters_info_status.drop(["Gender", "EyeColor", "HairColor"], axis = 1, inplace=True)

C:\Users\Klaudiusz\AppData\Local\Temp\ipykernel_10836\2699489304.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  characters_info_status.drop(["Gender", "EyeColor", "HairColor"], axis = 1, inplace=True)

In [101]:
characters_info_status.to_csv("./characters/characters_info_status.csv")

In [100]:
characters_info_status

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50.0,31.0,43.0,32.0,25.0,52.0,233.0
1,A-Bomb,good,38.0,100.0,17.0,80.0,17.0,64.0,316.0
2,Abe Sapien,good,88.0,14.0,35.0,42.0,35.0,85.0,299.0
3,Abin Sur,good,50.0,90.0,53.0,64.0,84.0,65.0,406.0
4,Abomination,bad,63.0,80.0,53.0,90.0,55.0,95.0,436.0
...,...,...,...,...,...,...,...,...,...
606,Yellowjacket,good,88.0,10.0,12.0,28.0,12.0,14.0,164.0
607,Yellowjacket II,good,50.0,10.0,35.0,28.0,31.0,28.0,182.0
608,Ymir,good,50.0,100.0,27.0,100.0,83.0,28.0,388.0
609,Zatanna,good,75.0,10.0,23.0,28.0,100.0,56.0,292.0
610,Zoom,bad,50.0,10.0,100.0,28.0,72.0,28.0,288.0